<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/bootstrap3/css/bootstrap.min.css">
    <script src="../static/bootstrap3/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap3/bootstrap.min.js"></script>
    <title>DB2BeanUtil</title>
</head>
<body>
<style>
    label {
        width: 100px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><div style="width: 500px">
            <form id="form1">
                <label>数据库类型</label><input class="form-control" type="text" id="dbType" style="width: 500px"><br>
                <label>URL:</label><input class="form-control" type="text" id="url" style="width: 500px"><br>
                <label>USER:</label><input class="form-control" type="text" id="user" style="width: 500px"><br>
                <label>PASSWORD:</label><input class="form-control" type="text" id="password" style="width: 500px"><br>
                <label>TABLENAME:</label><input class="form-control" type="text" id="tableName" style="width: 500px"><br>
                <label>BEANNAME:</label><input class="form-control" type="text" id="beanName" style="width: 500px"><br>
                <input type="button" class="btn-default btn-lg" value="确定！" onclick="post()">
            </form>
        </div></div>
        <div class="col-md-6" id="result"></div>
    </div>
</div>
<script>
    function post() {
        var dbType = document.getElementById('dbType').value;
        var url = document.getElementById('url').value;
        var user = document.getElementById('user').value;
        var password = document.getElementById('password').value;
        var tableName = document.getElementById('tableName').value;
        var beanName = document.getElementById('beanName').value;
        if (dbType != "" && url != "" && user != "" && password != "" && tableName != "" && beanName != "") {
            $.post("/get", {
                dbType: dbType,
                url: url,
                user: user,
                password: password,
                tableName: tableName,
                beanName: beanName
            }, function (result) {
                $("#result").append(result.replace(/\n/g,"<br>"));
            })
        } else {
            alert("不能为空！");
        }

    }
</script>
</body>
</html>